<%- include('../partials/header'); -%>
    <div class="d-flex flex-row align-items-center justify-content-around" style="height: 100vh;">
        <a href="/student/" class="btn btn-lg btn-primary">Students</a>
        <a href="/post/" class="btn btn-lg btn-primary">Posts</a>
        <a href="/post/create" class="btn btn-lg btn-primary">Create Posts</a>
    </div>
    <%- include('../partials/footer'); -%>