<%- include('partials/header'); -%>
<div class="d-flex flex-row align-items-center justify-content-around" style="height: 100vh;">
      <a href="/student/signup" class="btn btn-lg btn-primary">Student Signup</a>
      <a href="/student/login" class="btn btn-lg btn-primary">Student Login</a>
      <a href="/admin/login" class="btn btn-lg btn-primary">Admin Login</a>
</div>
<%- include('partials/footer'); -%>